@theme {
  /* 디스플레이 (Display) */
  --display1-bold-font-size: 1.75rem;
  --display1-bold-line-height: 36px;
  --display1-bold-font-weight: 700;

  --display1-regular-font-size: 1.75rem;
  --display1-regular-line-height: 36px;
  --display1-regular-font-weight: 400;

  --display2-bold-font-size: 1.5rem;
  --display2-bold-line-height: 32px;
  --display2-bold-font-weight: 700;

  --display2-regular-font-size: 1.5rem;
  --display2-regular-line-height: 32px;
  --display2-regular-font-weight: 400;

  /* 제목 (Title) */
  --title1-bold-font-size: 1.25rem;
  --title1-bold-line-height: 27px;
  --title1-bold-font-weight: 700;

  --title1-regular-font-size: 1.25rem;
  --title1-regular-line-height: 27px;
  --title1-regular-font-weight: 400;

  --title2-bold-font-size: 1rem;
  --title2-bold-line-height: 24px;
  --title2-bold-font-weight: 700;

  --title2-regular-font-size: 1rem;
  --title2-regular-line-height: 24px;
  --title2-regular-font-weight: 400;

  /* 부제목 (Subtitle) */
  --subtitle1-bold-font-size: 1rem;
  --subtitle1-bold-line-height: 22px;
  --subtitle1-bold-font-weight: 700;

  --subtitle1-regular-font-size: 1rem;
  --subtitle1-regular-line-height: 24px;
  --subtitle1-regular-font-weight: 400;

  --subtitle2-bold-font-size: 0.875rem;
  --subtitle2-bold-line-height: 19px;
  --subtitle2-bold-font-weight: 700;

  --subtitle2-regular-font-size: 0.875rem;
  --subtitle2-regular-line-height: 19px;
  --subtitle2-regular-font-weight: 400;

  /* 본문 (Body) */
  --body1-bold-font-size: 1rem;
  --body1-bold-line-height: 22px;
  --body1-bold-font-weight: 700;

  --body1-regular-font-size: 1rem;
  --body1-regular-line-height: 22px;
  --body1-regular-font-weight: 400;

  --body2-bold-font-size: 0.875rem;
  --body2-bold-line-height: 19px;
  --body2-bold-font-weight: 700;

  --body2-regular-font-size: 0.875rem;
  --body2-regular-line-height: 19px;
  --body2-regular-font-weight: 400;

  /* 라벨 (Label) */
  --label1-bold-font-size: 0.875rem;
  --label1-bold-line-height: 19px;
  --label1-bold-font-weight: 700;

  --label1-regular-font-size: 0.875rem;
  --label1-regular-line-height: 19px;
  --label1-regular-font-weight: 400;

  --label2-bold-font-size: 0.75rem;
  --label2-bold-line-height: 16px;
  --label2-bold-font-weight: 700;

  --label2-regular-font-size: 0.75rem;
  --label2-regular-line-height: 16px;
  --label2-regular-font-weight: 400;

  /* 보조 텍스트 (Caption) */
  --caption1-bold-font-size: 0.6875rem;
  --caption1-bold-line-height: 16px;
  --caption1-bold-font-weight: 700;

  --caption1-regular-font-size: 0.6875rem;
  --caption1-regular-line-height: 16px;
  --caption1-regular-font-weight: 400;
}

/* 디스플레이 (Display) */
@utility display1-bold {
  font-size: var(--display1-bold-font-size);
  line-height: var(--display1-bold-line-height);
  font-weight: var(--display1-bold-font-weight);
}
@utility display1-regular {
  font-size: var(--display1-regular-font-size);
  line-height: var(--display1-regular-line-height);
  font-weight: var(--display1-regular-font-weight);
}
@utility display2-bold {
  font-size: var(--display2-bold-font-size);
  line-height: var(--display2-bold-line-height);
  font-weight: var(--display2-bold-font-weight);
}
@utility display2-regular {
  font-size: var(--display2-regular-font-size);
  line-height: var(--display2-regular-line-height);
  font-weight: var(--display2-regular-font-weight);
}

/* 제목 (Title) */
@utility title1-bold {
  font-size: var(--title1-bold-font-size);
  line-height: var(--title1-bold-line-height);
  font-weight: var(--title1-bold-font-weight);
}
@utility title1-regular {
  font-size: var(--title1-regular-font-size);
  line-height: var(--title1-regular-line-height);
  font-weight: var(--title1-regular-font-weight);
}
@utility title2-bold {
  font-size: var(--title2-bold-font-size);
  line-height: var(--title2-bold-line-height);
  font-weight: var(--title2-bold-font-weight);
}
@utility title2-regular {
  font-size: var(--title2-regular-font-size);
  line-height: var(--title2-regular-line-height);
  font-weight: var(--title2-regular-font-weight);
}

/* 부제목 (Subtitle) */
@utility subtitle1-bold {
  font-size: var(--subtitle1-bold-font-size);
  line-height: var(--subtitle1-bold-line-height);
  font-weight: var(--subtitle1-bold-font-weight);
}
@utility subtitle1-regular {
  font-size: var(--subtitle1-regular-font-size);
  line-height: var(--subtitle1-regular-line-height);
  font-weight: var(--subtitle1-regular-font-weight);
}
@utility subtitle2-bold {
  font-size: var(--subtitle2-bold-font-size);
  line-height: var(--subtitle2-bold-line-height);
  font-weight: var(--subtitle2-bold-font-weight);
}
@utility subtitle2-regular {
  font-size: var(--subtitle2-regular-font-size);
  line-height: var(--subtitle2-regular-line-height);
  font-weight: var(--subtitle2-regular-font-weight);
}

/* 본문 (Body) */
@utility body1-bold {
  font-size: var(--body1-bold-font-size);
  line-height: var(--body1-bold-line-height);
  font-weight: var(--body1-bold-font-weight);
}
@utility body1-regular {
  font-size: var(--body1-regular-font-size);
  line-height: var(--body1-regular-line-height);
  font-weight: var(--body1-regular-font-weight);
}
@utility body2-bold {
  font-size: var(--body2-bold-font-size);
  line-height: var(--body2-bold-line-height);
  font-weight: var(--body2-bold-font-weight);
}
@utility body2-regular {
  font-size: var(--body2-regular-font-size);
  line-height: var(--body2-regular-line-height);
  font-weight: var(--body2-regular-font-weight);
}

/* 라벨 (Label) */
@utility label1-bold {
  font-size: var(--label1-bold-font-size);
  line-height: var(--label1-bold-line-height);
  font-weight: var(--label1-bold-font-weight);
}
@utility label1-regular {
  font-size: var(--label1-regular-font-size);
  line-height: var(--label1-regular-line-height);
  font-weight: var(--label1-regular-font-weight);
}
@utility label2-bold {
  font-size: var(--label2-bold-font-size);
  line-height: var(--label2-bold-line-height);
  font-weight: var(--label2-bold-font-weight);
}
@utility label2-regular {
  font-size: var(--label2-regular-font-size);
  line-height: var(--label2-regular-line-height);
  font-weight: var(--label2-regular-font-weight);
}

/* 보조 텍스트 (Caption) */
@utility caption1-bold {
  font-size: var(--caption1-bold-font-size);
  line-height: var(--caption1-bold-line-height);
  font-weight: var(--caption1-bold-font-weight);
}
@utility caption1-regular {
  font-size: var(--caption1-regular-font-size);
  line-height: var(--caption1-regular-line-height);
  font-weight: var(--caption1-regular-font-weight);
}
